{% extends "layout.html" %}

{% block content %}

    <div class="content-section">

    <form method="POST" action="">

        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Stwórz postać: </legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit() }}


            </div>

            <div class="border-top pt-3">

                <small class="text-muted">

                    Chcesz wczytać grę? Kliknij  <a class="ml-2" href="{{ url_for('LoadCharacter') }}"> TUTAJ </a>

                </small>


            </div>


        </fieldset>

    </form>


    </div>


{% endblock content %}