<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">

</head>
<body class="backgroundStyle">


<div class="row">
  <div class="column left columnImage">
      <div class="textName"> IMIĘ GRACZA: {{ player1.name }} </div>
      <div class="textName"> ZDROWIE:
          {% for x in range(0, player1.health) %}
          <img src="/static/DarkSoulsCard/life.png" alt="life">
          {% endfor %}
      </div>
      <div class="textName"> Siła: {{ player1.strength }} </div>
      <div class="textName"> Odporność: {{ player1.resistance }} </div>
      <div class="textName"> Wynik rzutu: {{ result }} </div>
  <div class="textName"> Ekwipunek:
            <table>
          {% for key in player1.keys %}

          {% if player1.keys.get(key) == 1 %}


                {% if key == "toxic" %}
                <td>
                <img class="trigger" src="/static/DarkSoulsCard/toxic_key.png" alt="toxic">
                <div class="hide"> Otwiera drzwi Lorda Zarazy </div>
                </td>

            {% endif %}

          {% if key == "madness" %}
                <td>
                <img class="trigger" src="/static/DarkSoulsCard/madness_key.png">
                <div class="hide"> Otwiera drzwi Lorda Szaleństwa </div>
                </td>
            {% endif %}

          {% if key == "death" %}
                <td>
                <img class="trigger" src="/static/DarkSoulsCard/death_key.png">
                <div class="hide"> Otwiera drzwi Lorda Śmierci </div>
                </td>
            {% endif %}

          {% if key == "bone" %}
                <td>
                <img class="trigger" src="/static/DarkSoulsCard/bone_key.png">
                <div class="hide"> Otwiera drzwi Lorda Kości </div>
                </td>
            {% endif %}


          {% endif %}
          {% endfor %}

            </table>
          </div>

        <div class="textName"> DUSZE:
        <table>
        {% for soul in player1.souls %}

            {% if player1.souls.get(soul) == 1 %}


                    {% if soul == "toxic" %}
                    <td>
                        <img class="trigger" src="/static/DarkSoulsCard/soul.png">
                        <div class="hide">  Dusza Lorda Zarazy </div>
                    </td>
                    {% endif %}

                    {% if soul == "death" %}
                    <td>
                        <img class="trigger" src="/static/DarkSoulsCard/soul.png">
                        <div class="hide">  Dusza Lorda Śmierci </div>
                    </td>
                    {% endif %}

                    {% if soul == "madness" %}
                    <td>
                        <img class="trigger" src="/static/DarkSoulsCard/soul.png">
                        <div class="hide">  Dusza Lorda Szaleństwa </div>
                    </td>
                    {% endif %}

                    {% if soul == "bone" %}
                    <td>
                        <img class="trigger" src="/static/DarkSoulsCard/soul.png">
                        <div class="hide">  Dusza Lorda Kości </div>
                    </td>
                    {% endif %}

            {% endif %}
            {% endfor %}
                </table>
        </div>

<div>

    {% if (player1.active_field == [0,0] or player1.active_field == [4,0] or player1.active_field == [8,0]
            or player1.active_field == [8,4] or player1.active_field == [8,8] or player1.active_field == [4,8]
            or player1.active_field == [0,8] or player1.active_field == [0,4]) and player1.is_attacked == 0%}
    <div>
          <a class="textName" href="/move"> UŻYJ KARTY </a>
    </div>
    {% elif player1.is_attacked == 0 %}
        <div>
          <a class="textName" href="/move"> RZUT KOSTKĄ </a>
        </div>
    {% endif %}

    {% if player1.active_field == [0,0] and player1.keys.get("death") == 1 and player1.souls.get("death") == 0%}
        <div>
          <a class="textName" href="/move"> ATAKUJ LORDA ŚMIERCI </a>
        </div>
    {% endif %}

    {% if player1.active_field == [0,8] and player1.keys.get("toxic") == 1 and player1.souls.get("toxic") == 0%}
        <div>
          <a class="textName" href="/move"> ATAKUJ LORDA ZARAZY </a>
        </div>
    {% endif %}

    {% if player1.active_field == [8,8] and player1.keys.get("bone") == 1 and player1.souls.get("bone") == 0%}
        <div>
          <a class="textName" href="/move"> ATAKUJ LORDA KOŚCI </a>
        </div>
    {% endif %}

    {% if player1.active_field == [8,0] and player1.keys.get("madness") == 1 and player1.souls.get("madness") == 0%}
        <div>
          <a class="textName" href="/move"> ATAKUJ LORDA SZALEŃSTWA </a>
        </div>
    {% endif %}

  </div>
  </div>




  <div class="column middle container" style="margin-left: auto">


       <img src="/static/DarkSoulsCard/boardPart_board.png" alt="board">

  <div class="carousel-caption">

      <table class="tableController">
{% for row in range(0,9) %}
    <tr>
        {% for column in range (0,9) %}
        <td>
            <a>

                {% if player1.active_field[0] == row and player1.active_field[1] == column %}
                    <img class="imageControl" src="/static/DarkSoulsCard/pawn1.png" alt="player1">
                {% elif (row == 0 or row==4 or row == 8) and (column == 0 or column == 4 or column == 8) and not (row == 4 and column == 4) %} {# narożniki #}
                    <a href="{{ row, column }}">
                   <img class="imageControl" src="/static/DarkSoulsCard/boardPart_Extrafield.png" alt="extrafield">
                    </a>
                {% elif row == 0 or row == 8 %} {# górne/dolne #}
                    <a href="{{ row, column }}">
                   <img class="imageControl" src="/static/DarkSoulsCard/boardPart_field.png" alt="field">
                    </a>
                {% elif column == 0 or column == 8 %} {# lewe/prawe #}
                    <a href="{{ row, column }}">
                   <img class="imageControl" src="/static/DarkSoulsCard/boardPart_field.png" alt="field">
                    </a>
                {% elif column == 2 and row == 2 or column == 2 and row == 6 %} {# czaszka1 #}
                    <a href="{{ row, column }}">
                   <img class="imageControl" src="/static/DarkSoulsCard/boardPart_boss.png" alt="field">
                    </a>
                {% elif column == 6 and row == 2 or column == 6 and row == 6 %} {# czaszka2 #}
                    <a href="{{ row, column }}">
                   <img class="imageControl" src="/static/DarkSoulsCard/boardPart_boss.png" alt="field">
                    </a>
                {% endif %}

            </a>
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>




  </div>
  </div>


  <div class="column right columnImage">
        {% if player1.is_attacked == 1 %}
        <div class="imagecenter">
            {% for deck in ConstantDeck %}
            {% if deck.name == 'Enemy' %}
            <img src="{{ deck.image }}" alt="Card">
            {% endif %}
            {% endfor %}
        </div>
        <div class="imagecenter">
        <a href="/battle">
        <img src="/static/DarkSoulsCard/button_fight.png">
        </a>
        </div>
        {% endif %}


  </div>
</div>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


</html>